.panel-transparent {
    background: none;
}

.panel-transparent .panel-body{
    background: #2D2D37;
}

.center-block {
    float: none !important;
}

.branco {
    color: #FAFAFA !important;
}

.fundo_branco {
    background-color: #FAFAFA !important;
}

.amarelo {
    color: #FFC500 !important;
}

.fundo_amarelo {
    background-color: #FFC500 !important;
}